<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{site.baseurl}}style/styles.css" rel="stylesheet" text="text/css">
    <link href="{{site.baseurl}}style/post.css" rel="stylesheet" text="text/css">
</head>

<body>
    <nav>
      <div id="logo">
          <p>403Penguin</p>
         <img src="{{site.baseurl}}img/penguin.jpg">
      </div>
      <div id="navlinks">
          <ul>
              <li><a href="{{site.baseurl}}index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
          </ul>
      </div>
      <div id="icons">
          <li><a href="https://www.youtube.com/user/Haxx0rSwag"><img src="{{site.baseurl}}img/icons/youtube.png"></a></li>
          <li><a href="http://www.flickr.com/photos/107498329@N08/"><img src="{{site.baseurl}}img/icons/flickr.png"></a></li>
          <li><a href="https://plus.google.com/u/0/108438742797917435426/posts"><img src="{{site.baseurl}}img/icons/google.png"></a></li>
          <li><a href="https://github.com/403Penguin"><img src="{{site.baseurl}}img/icons/github.png"></a></li>
      </div>
    </nav>
         {{content}}
</body>

</html>
