<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../style/home.css" rel="stylesheet" type="text/css">
  
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>403Penguin</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}blog.html">Blog</a>
                    </li>
                </ul>
            </nav>
           <div id="banner" class="banner">
              <img id="1" src="http://placehold.it/600x400/000/fff">
              <img id="2" src="http://dummyimage.com/600x400/000/fff">
              <img id="3" src="../img/penguin.jpg">
              <img id="4" src="../img/penguin.jpg">

           </div> 
              <div id="buttons">
              <a class="lbutton" href="#" onclick="prev(); return false;"><img src="../img/icons/left.png"/></a>
              <a class="rbutton" href="#" onclick="next();return false;"><img src="../img/icons/right.png"/></a>
              </div>
              <script src="../scripts/jquery.js"></script>
              <script src="../scripts/jslider.js"></script>
              </header>
        <div class="main">
            <article>
                <h1>Web Design</h1>
                <img>
                <p>Familiar with html and css. Created multiple high quality web sites. </p>
            </article>
            <article>
                <h1>Android</h1>
                <img>
                <p>Creating mobile Android apps for all to have.</p>
            </article>
            <article>
                <h1>Arduino</h1>
                <img>
                <p>Hacking away at multiple projects to improve the community.</p>
            </article>
        </div>
        <footer>
        <p>403 Penguin 2013</p>
        <ul>
            <li><img src=""></li>
            <li><img src=""></li>
            <li><img src=""></li>
        </ul>
        </footer>
    </div>
</body>

</html>